# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env

# Node
node_modules/

# Data
apps/api/app/data/*.json
apps/api/app/data/*.txt
apps/api/app/data/policies/*.txt
apps/api/app/data/sec/*.pdf

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Logs
*.log
